streamlit
langgraph
langchain
langchain-core
langchain-community
langchain-text-splitters
pypdf
chromadb
sentence-transformers
tavily-python
python-dotenv
langchain-google-genai
google-generativeai
sentence-transformers
torchvision